@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    
  }
  
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(90deg);
    }
  }
  
  @media only screen and (max-width: 600px) {
  
    img {
        width: 100px;
        padding-top: 33vw;
        
        justify-content: flex-end;
        
    }
    
    h1 {
        font-size: 20px ;
    }

    body {
      background-color: #022b3a;
    }
  }