#home {
  padding-top: 10vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#full {
  animation: full 1s;
  
}




@keyframes fadeSpin {
    0% {
      -webkit-opacity:0;}
    100% {
      -webkit-opacity:1;}

      /* from {
        -webkit-transform:rotate(70deg);
    }
    to {
        -webkit-transform:rotate(0deg);
    } */

    0% {
      -webkit-transform: translateX(100%)}
    100% {
      -webkit-transform: translateY(0%)}

    
  }
  
  @keyframes spin {
    from {
        -webkit-transform:rotate(-30deg);
    }
    to {
        -webkit-transform:rotate(0deg);
    }
  }

  @keyframes full{
    100% {
      -webkit-transform: translateY(0%)}
    0% {
      -webkit-transform: translateY(100%)}

      0% {
        -webkit-opacity:0;}
      100% {
        -webkit-opacity:1;}

        /* from {
          -webkit-transform:rotate(60deg);
      }
      to {
          -webkit-transform:rotate(0deg);
      } */


}


/* testing animations */

#test1{
  height:0px;
  width:1px;
  border-bottom:5px solid #000;
  
  
 
  -webkit-animation: increase 3s;
  -moz-animation:    increase 3s; 
  -o-animation:      increase 3s; 
  animation:         increase 3s; 
  animation-fill-mode: forwards;
  animation-delay: .5s;
}

@keyframes increase {
    100% {
        width: 310px;
        
    }
}









  
  @media only screen and (max-width: 600px) {
  
    img {
        width: 100px;
        padding-top: 33vw;
        display: none;
        
        
    }

    #home {
  display: flex;
  justify-content: center;
  
    }

    #full {
      animation: full 1.5s;
    }

   
    


    
  }