#navbar {
    display: flex;
    justify-content: left;
    /* padding-left: 19.6vw; */
    
    font-family: arial;
}

#container {
    display: flex;
}


@media only screen and (max-width: 600px) {

    #navbar {
        flex-wrap: nowrap;
        padding-left: 2vw;
        font-family: arial;
    }

    #navname {
        margin-left: 0;
    }

}

